canvas {
	border: 5px solid #076458;
    margin: auto;
    display: block;
}

.wrapper {
	margin: auto;
	margin-top: 100px;
	width: 510px;
}
.scoreBox, .levelBox {
	color: #076458;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font: bold 2em Helvetica;
}
.scoreBox { float: left; }
.levelBox { float: right; }
.clear { clear: both; }